.custom-loader {
  width: 22px;
  height: 22px;
  border: 3px solid transparent;
  border-top: 3px solid #49BBBD;
  border-radius: 50%;
  animation: spin 0.65s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
